*{
    border: 0;
    margin: 0;
}
header{
    margin-top: 3px;
    padding: 15px;
    border: 1px solid peru;
    text-align: center;
}
/* -webkit-lineal-gradient(direccion_gradiente, color1,color2,color2) */
#lineal{
    background: -webkit-linear-gradient(top right, #000000, #ffffff, #00FF00);
}
.circular{
    /* posicion => center, top, bottom, left, right , %
    forma => circle , ellipse
    colores => 2 a mas
     */
    background: -webkit-radial-gradient(center, ellipse, black, white);
}
p{
    /* admite valores entre 1px y 10px */
    /* difuminado */
    filter: blur(10px);
}
img{
    /* admite valores entre 0.1 y 1 */
    /* Escala de grises mientras mas se aproxime al 1 mas gris sera la imagen */
    filter: grayscale(1);
    /* Usado para determinar el contraste de la imagen, mientras mas se aproxime a 1 sera su contraste natural */
    filter: contrast(0.1);
    /* Invierte los colores de la imagen con sus negativos, mientras mas se aproxime a 1 sus negativos seran mas intensos */
    filter: invert(0.8);
    /* En la pagina 127 en el libro , en el pdf reader 142 */
}